body {
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  background-color: #eeeeee;
  
}
#main {
    margin: 30px auto;
    padding: 15px;
    border: 0px solid;
    border-radius: 5px;
    background: #eee;
}
#img-div {
    border: 10px solid white;
    background: white;
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}
h1 {
  font-size: 48px;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
  
}
#img-caption {
  margin: 10px;
}
div {
  display: block;
  padding-bottom: 10px;
}
li {
  text-align: center;
  list-style: center;
}
blockquote {
  font-style: italic;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}
.grid-item {
  padding: 40px;
  font-size: 30px;
  text-align: center;
}